@import "~bootstrap/scss/bootstrap";
@import "~react-day-picker/lib/style.css";

.modal-dialog{
	&.screenshot-preview {
		width: 90%;
		text-align: center;
		max-width: none;
	}
}

.hoverable {
	cursor: pointer;
}

.card-screenshot {
	@extend .hoverable;
}

.top-stories-toggle {
	@extend .hoverable;

	svg {
		float: right;
	}
}

.DayPickerInput.form-control > input {
	border: none;
	width: 100%;

	&:focus {
		outline: none;
	}
}

.color-left {
	color: #34AAE0;
}

.color-right {
	color: #E81B23
}

.color-center {
	color: #8E6382;
}

.capitalize {
	text-transform: capitalize;
}
