@import "~bootstrap/scss/bootstrap";

.modal-dialog{
	&.screenshot-preview {
		width: 90%;
		text-align: center;
		max-width: none;
	}
}

.hoverable {
	cursor: pointer;
}

.card-screenshot {
	@extend .hoverable;
}

.top-stories-toggle {
	@extend .hoverable;

	svg {
		float: right;
	}
}
